* {
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: 'Raleway', sans-serif;
}

.max-w {
    max-width: 1600px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
}

.my-50 {
    margin-top: 50px;
    margin-bottom: 50px;
}

header {
    background-color: #636c79;
    display: block;
}

.navbar {
    width: 100%;
    height: 120px;
}

.navbar .logo {
    display: inline-block;
    margin-top: 50px;
}

.nav-list {
    float: right;
    margin-top: 25px;
}

.nav-list ul {
    list-style-type: none;
    display: inline-block;
}

.nav-list-item {
    color: #FFFFFF;
    display: inline;
    margin: 0 20px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
}

.nav-btn {
    padding: 10px 40px;
    border: 1px solid #797d85;
    background: transparent;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 700;
    margin-left: 30px;
}

.header-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.header-image img {
    width: 500px;
    max-width: 100%;
}

.header-content {
    margin-left: 75px;
    flex-basis: 35%;
    margin-bottom: 50px;
}

.header-content h1 {
    font-size: 64px;
    color: #FFFFFF;
}

.header-content p{
    font-size: 22px;
    color: #d0d2d6;
    margin: 30px 0;
    font-family: 'Poppins', sans-serif;
}

.email-container {
    padding: 10px 10px 10px 20px;
    background-color: #FFFFFF;
    width: calc(100% - 40px);
    display: flex;
    align-items: center;
}


.email-container input {
    outline: none;
    border: none;
    flex-basis: 50%;
}

.email-container input::placeholder {
    font-size: 18px;
    padding-left: 10px;
}

.btn {
    padding: 20px 40px;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 500;
    background-color: #8bb7a2;
    outline: none;
    border: none;
    cursor: pointer;
}


.email-container .btn {
    margin-left: auto;
    flex-basis: 35%;
}


.section-heading {
    text-align: center;
    font-size: 40px;
    margin-bottom: 50px;
}

.figures {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 50px 0;
}

.figure h2, .figure p {
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.figure h2 {
    font-size: 40px;
}

.analytics-image {
    text-align: center;
}

.analytics-image img {
    width: 80%
}

.solution {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
    column-gap: 50px;
}

.solution-content {
    flex-basis: 40%;
}

.solution-content h2 {
    font-size: 50px;
}

.solution-content p {
    font-size: 25px;
    margin: 25px 0 40px 0;
}

.solution-image img{
    width: 700px;
    max-width: 100%;
}

.team-heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 25px 0;
}

.team-heading h1 {
    font-size: 50px;
    margin-right: 20px;
}

.team-heading p {
    line-height: 35px;
    color: #636c79;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 500;
}

.team-cards {
    width: 100%;
    display: flex;
    justify-content: center;
    column-gap: 25px;
}

.team-card h3 {
    margin: 20px 0;
}

.team-card {
    width: 300px;
    max-width: 100%;
    margin-top: 50px;
}

.image img{
    width: 100%;
}

.team-action {
    text-align: center;
    margin: 50px 0;
}

footer {
    background-color: #10181d;
}

.upper-footer {
    height: 100px;
    border-bottom: 1px solid #2b3338;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.footer-lists {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
}

.footer-list h4 {
    color: #FFFFFF;
    font-size: 16px;
}

.footer-list {
    margin: 25px;
    flex-basis: 200px;
}

.footer-list ul{
    list-style-type: none;
    padding-left: 0;
}

.item {
    margin-top: 20px;
    cursor: pointer;
    color: #FFFFFF;
    font-size: 12px;
}

.item:hover {
    font-weight: 600;
}

@media only screen and (max-width: 1280px) {
    .nav-list ul {
        display: none;
    }
    .nav-list {
        float: none;
        margin-top: 0;
    }
    .navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .navbar .logo {
        margin-top: 0;
    }
    .solution {
        column-gap: 20px;
    }

    .header-content {
        flex-basis: 50%;
    }

    .header-content h1 {
        font-size: 48px;
    }

    .solution-content, .solution-image {
        flex-basis: 50%;
    }

    .solution-content h2 ,.team-heading h1 {
        font-size: 36px;
    }

    .solution-content p, .team-heading p, .header-content p {
        font-size: 18px;
    }

    .team-cards {
        flex-wrap: wrap;
    }
}


@media only screen and (max-width: 1024px) {
    .solution,.header-section {
        flex-direction: column-reverse;
    }

    .header-content {
        margin-left: 0;
        margin-top: 50px;
        padding: 0 15px;
        text-align: center;
    }
    .solution-content, .team-heading {
        margin-top: 50px;
        text-align: center;
    }

    .solution:nth-child(3), .team-heading {
        flex-direction: column;
    }
    
}

@media only screen and (max-width: 768px) {
    .nav-btn {
        margin-left: 0;
        padding: 5px 20px;
    }
    
    .figures h2 {
        font-size: 18px;
    }

    .figures p{
        font-size: 12px;
    }

    .header-content {
        flex-basis: 100%;
    }

    .header-content h1 {
        font-size: 32px;
    }

    .solution-content, .solution-image {
        flex-basis: 100%;
    }

    .solution-content h2 ,.team-heading h1 {
        font-size: 28px;
    }

    .solution-content p, .team-heading p {
        font-size: 16px;
        line-height: 1.5;
    }

    .upper-footer  {
        flex-direction: column;
        justify-content: space-around;
        height: 200px;
    }

    .footer-lists {
        justify-content: center;
    }

    .footer-list {
        flex-basis: 40%;
        text-align: center;
    }

}